In [1]:
import pandas as pd

In [2]:
vgs= pd.read_csv(r'C:\Users\German\Desktop\vgsales.csv')

In [10]:
#первые 10 рядов датафрейма
vgs.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [11]:
#информация о количестве записей
vgs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [12]:
#Получить среднюю стоимость продаж в Европе
vgs['EU_Sales'].mean()

0.14665200626581515

In [13]:
#Получить самую высокую стоимость продаж в Японии
vgs['JP_Sales'].max()

10.22

In [14]:
#Жанр игры "Brain Age 2: More Training in Minutes a Day"
vgs['Genre']

0              Sports
1            Platform
2              Racing
3              Sports
4        Role-Playing
             ...
16593        Platform
16594         Shooter
16595          Racing
16596          Puzzle
16597        Platform
Name: Genre, Length: 16598, dtype: object

In [15]:
vgs[vgs['Name']=='Brain Age 2: More Training in Minutes a Day']

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
27,28,Brain Age 2: More Training in Minutes a Day,DS,2005.0,Puzzle,Nintendo,3.44,5.36,5.32,1.18,15.3

In [16]:
vgs[vgs['Name']=='Brain Age 2: More Training in Minutes a Day']['Genre']

27    Puzzle
Name: Genre, dtype: object

In [17]:
#количество продаж видеоигры Grand Theft Auto: Vice City по всему миру
vgs[vgs['Name']=='Grand Theft Auto: Vice City']

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
24,25,Grand Theft Auto: Vice City,PS2,2002.0,Action,Take-Two Interactive,8.41,5.49,0.47,1.78,16.15
13732,13734,Grand Theft Auto: Vice City,PC,2003.0,Action,Take-Two Interactive,0.00,0.03,0.00,0.01,0.04

In [18]:
vgs[vgs['Name']=='Grand Theft Auto: Vice City']['Global_Sales']

24       16.15
13732     0.04
Name: Global_Sales, dtype: float64

In [19]:
#название видеоигры, которая имеет самые высокие продажи в Северной Америке.
vgs[vgs['NA_Sales']== vgs['NA_Sales'].max()]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74

In [20]:
vgs[vgs['NA_Sales']== vgs['NA_Sales'].max()]['Name']

0    Wii Sports
Name: Name, dtype: object

In [21]:
vgs.loc[vgs['NA_Sales'].idxmax()]

Rank                     1
Name            Wii Sports
Platform               Wii
Year                2006.0
Genre               Sports
Publisher         Nintendo
NA_Sales             41.49
EU_Sales             29.02
JP_Sales              3.77
Other_Sales           8.46
Global_Sales         82.74
Name: 0, dtype: object

In [22]:
#видеоигра с наименьшими продажами в мире
vgs[vgs['Global_Sales']== vgs['Global_Sales'].min()]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
15980,15983,Turok,PC,2008.0,Action,Touchstone,0.00,0.01,0.00,0.0,0.01
15981,15984,Coven and Labyrinth of Refrain,PSV,2016.0,Action,Nippon Ichi Software,0.00,0.00,0.01,0.0,0.01
15982,15985,Super Battle For Money Sentouchuu: Kyuukyoku n...,3DS,2016.0,Action,Namco Bandai Games,0.00,0.00,0.01,0.0,0.01
15983,15986,Dragon Zakura DS,DS,2007.0,Misc,Electronic Arts,0.00,0.00,0.01,0.0,0.01
15984,15987,Chameleon: To Dye For!,DS,2006.0,Puzzle,505 Games,0.01,0.00,0.00,0.0,0.01
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.0,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.0,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.0,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.0,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.0,0.01

In [23]:
vgs[vgs['Global_Sales']== vgs['Global_Sales'].min()]['Name']

15980                                                Turok
15981                       Coven and Labyrinth of Refrain
15982    Super Battle For Money Sentouchuu: Kyuukyoku n...
15983                                     Dragon Zakura DS
15984                               Chameleon: To Dye For!
                               ...
16593                   Woody Woodpecker in Crazy Castle 5
16594                        Men in Black II: Alien Escape
16595     SCORE International Baja 1000: The Official Game
16596                                           Know How 2
16597                                     Spirits & Spells
Name: Name, Length: 618, dtype: object

In [24]:
#Какое среднее количество продаж всех видеоигр по жанрам в Японии
vgs.groupby('Genre').mean()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Genre,,,,,,,
Action,7973.879071,2007.909929,0.264726,0.158323,0.048236,0.056508,0.528100
Adventure,11532.787714,2008.130878,0.082271,0.049868,0.040490,0.013072,0.185879
Fighting,7646.511792,2004.630383,0.263667,0.119481,0.103007,0.043255,0.529375
Misc,8561.847039,2007.258480,0.235906,0.124198,0.061967,0.043312,0.465762
Platform,6927.251693,2003.820776,0.504571,0.227573,0.147596,0.058228,0.938341
Puzzle,9627.381443,2005.243433,0.212680,0.087251,0.098471,0.021564,0.420876
Racing,7961.515612,2004.840131,0.287766,0.190865,0.045388,0.061865,0.586101
Role-Playing,8086.174731,2007.055744,0.219946,0.126384,0.236767,0.040060,0.623233
Shooter,7369.367939,2005.918877,0.444733,0.239137,0.029221,0.078389,0.791885
Simulation,8626.085352,2006.567568,0.211430,0.130773,0.073472,0.036355,0.452364
Sports,7425.026428,2005.477865,0.291283,0.160635,0.057702,0.057532,0.567319
Strategy,10071.897210,2005.599106,0.100881,0.066579,0.072628,0.016681,0.257151

In [25]:
vgs.groupby('Genre').mean()['JP_Sales']

Genre
Action          0.048236
Adventure       0.040490
Fighting        0.103007
Misc            0.061967
Platform        0.147596
Puzzle          0.098471
Racing          0.045388
Role-Playing    0.236767
Shooter         0.029221
Simulation      0.073472
Sports          0.057702
Strategy        0.072628
Name: JP_Sales, dtype: float64

In [26]:
#Сколько уникальных названий видеоигр в этом фрейме данных
vgs['Name'].nunique()

11493

In [27]:
#Получить 3 самых распространенных жанра видеоигр во всем мире
vgs['Genre'].value_counts().head(3)

Action    3316
Sports    2346
Misc      1739
Name: Genre, dtype: int64

In [28]:
#количество видеоигр содержат слово «Супер» в названии
def super_in_name(name):
    if 'super' in name.lower().split():
        return True
    else:
        return False

In [29]:
vgs['Name'].apply(lambda x: super_in_name(x))

0        False
1         True
2        False
3        False
4        False
         ...
16593    False
16594    False
16595    False
16596    False
16597    False
Name: Name, Length: 16598, dtype: bool

In [30]:
sum(vgs['Name'].apply(lambda x: super_in_name(x)))

289